* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.recent-blog-post-cards-section
  .recent-blog-post-card
  img.recent-blog-post-card-image {
  width: 100%;
}
.recent-blog-post-cards-section img.blog-page-climate-img {
  width: 100%;
  margin-bottom: 20px;
}
.recent-blog-post-cards-section h2.recent-blog-card-title {
  font-size: 14px;
  margin-top: 20px;
  color: blue;
}
.recent-blog-post-cards-section h3.recent-blog-card-sub-title {
  font-size: 20px;
  text-transform: capitalize;
}
section.recent-blog-post-cards-section {
  margin-top: 40px;
}
h2.grid-system-section-heading {
  max-width: 600px;
  margin-bottom: 20px;
}
.recent-blog-card-heading {
  display: flex;
  justify-content: space-between;
}
.recent-blog-post-cards-section
  .recent-blog-post-cards-section
  p.recent-blog-card-description {
  text-align: justify;
  color: gray;
  text-transform: capitalize;
}
.recent-blog-post-cards-section .recent-blog-post-card-bottom-text {
  display: flex;
  gap: 30px;
}
.recent-blog-post-cards-section img.grid-layout-image {
  width: 100%;
}
.recent-blog-post-card {
    margin-bottom: 50px;
}
p.grid-structure-section-heading {
  text-align: center;
  max-width: 531px;
  margin: auto;
  padding-bottom: 20px;
}
.recent-blog-post-cards-section p.day-text {
  color: blue;
}
@media (min-width:768px) and (max-width:1024px){
  p.grid-system-section-description {
    text-align: justify;
}
.recent-blog-post-cards-section .grid-system-column{
  width: 100%;
  padding: 0;
}
.recent-blog-post-cards-section .recent-blog-post-column{
  width: 100%;
  padding: 0;
}
}

@media (max-width:768px){
  p.grid-system-section-description {
    text-align: justify;
}
}
