*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Footer-section ul.footer-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.Footer-section ul.footer-links li a {
    text-transform: capitalize;
    color: gray;
    text-decoration: none;
}
.Footer-section{
   margin-top: 70px;
   margin-bottom: 20px;
}
@media (max-width:768px){
    .Footer-section .footer-links li {
        margin-bottom: 20px;
    }
    .Footer-section ul.footer-links {
        display: block;
        text-align: center;
    }
}